<!DOCTYPE html>
<html>
  <head>
    <title>Boring AI App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <section class="bg-blue-900 text-white py-20">
      <div class="container mx-auto px-6">
        <h1 class="text-4xl md:text-6xl font-bold mb-4">breakmybank</h1>
        <p class="text-lg md:text-xl">
          breakmybank parses 10-K/20-F statements and gives you an overview of the reports.
        </p>
      </div>
    </section>

    <%= yield %>
  </body>
</html>
