<strong>Total revenue</strong>
<p class="text-sm mt-2 mb-4"><%= @response["total_revenue"]["result"] %></p>
<strong>Gross margin</strong>
<p class="text-sm mt-2 mb-4"><%= @response["gross_margin"]["result"] %></p>
<strong>Net income</strong>
<p class="text-sm mt-2 mb-4"><%= @response["net_income"]["result"] %></p>
<strong>Operational expenses</strong>
<p class="text-sm mt-2 mb-4"><%= @response["op_ex"]["result"] %></p>
<strong>Operational income</strong>
<p class="text-sm mt-2 mb-4"><%= @response["op_inc"]["result"] %></p>
<strong>Taxes</strong>
<p class="text-sm mt-2 mb-4"><%= @response["taxes"]["result"] %></p>
<strong>Free Cash Flow (FCF)</strong>
<p class="text-sm mt-2 mb-4"><%= @response["fcf"]["result"] %></p>
