<div class="container mx-auto px-6 py-10">
  Enter a valid SEC ticker:

  <%= form_with model: Report.new, local: true, class: "space-y-4" do |form| %>
  <div class="flex items-center">
    <%= form.text_field :ticker, placeholder: "IBM", class: "border border-gray-300 rounded-l-md shadow-sm", autofocus: true %>
    <%= form.submit "Search", class: "ml-2 px-4 py-2 border border-transparent rounded-r-md shadow-sm text-sm font-medium text-white bg-blue-900" %>
  </div>
<% end %>
</div>

<div class="container mx-auto px-6">
  <h2 class="text-2xl md:text-3xl font-bold mb-4"><%= @company.name %></h2>
  <div class="flex flex-row mx-auto">
    <div class="w-1/3 pr-6">
      <h3 class="text-2xl font-bold mb-4"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">ChatGPT</mark></h3>
      <turbo-frame id="openai" src="<%= reports_gpt_path %>">Loading...</turbo-frame>
    </div>

    <div class="w-1/3">
      <h3 class="text-2xl font-bold mb-4"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">Llama</mark></h3>
      <turbo-frame id="llama" src="<%= reports_llama_path(cik: @company.cik) %>">Loading...</turbo-frame>
    </div>

    <div class="w-1/3">
      <h3 class="text-2xl font-bold mb-4"><mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">Phi</mark></h3>
      <turbo-frame id="phi" src="<%= reports_phi_path(cik: @company.cik) %>">Loading...</turbo-frame>
    </div>
  </div>
</div>
